body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaina 2', cursive;
}

/* ================================= Header ================================= */

#navbar{
    width: 100%;
    height: 70px;
    background: #adadad;
    text-align: right;
    display: none;
    justify-content: space-between;
    align-items: center;
}

#navbar * {
    margin: 0 70px;
}

#navbar a{
    text-decoration: none;
    color: black;
}

/* ================================= Log & Register ================================= */

.viewportLogParent {
    margin: 5% 25%;
    height: 80%;
    box-shadow: 5px 5px 10px grey;
}

.viewportLog{
    float: right;
    height: 100%;
    width: 50%;
    text-align: center;
}

.viewportLog input{
    margin: 8px;
    height: 4vh;
    width: 15vw;
    border: none;
    border-bottom: 3px solid #adadad;
}

.viewportLog img{
    padding-top: 80px;
    padding-bottom: 20px;
}

.buttonLog {
    border: none;
    background: none;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    padding: 20px;
}

.buttonLog:hover{
    color: #575757;
    cursor: pointer;
}

.buttonLog:active{
    color: #535353;
    text-shadow: #9a9a9a 0.1em 0.1em 0.2em;
}

.buttonLog:focus{
    outline-style: none;
    text-shadow: #9a9a9a 0.1em 0.1em 0.2em;
}

#changeButton button{
    border: none;
    background: none;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 14px;
    text-decoration: overline;
    cursor: pointer;
}

#changeButton button:hover{
    text-shadow: #787878 2px 1px 2px;
}

#changeButton button:focus{
    outline-style: none;
    text-shadow: #787878 2px 1px 2px;
}

@media (max-width: 480px) {

    /* ================================= Log & Register ================================= */

    .imageHome {
        display: none;
    }

    .viewportLogParent {
        margin: 5% 10%;
        box-shadow: none;
    }

    .viewportLog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .viewportLog input {
        height: 5vh;
        width: 70vw;
    }
}