body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaina 2', cursive;
}

/* ================================= Log & Register ================================= */

.viewportLogParent {
    margin: 5% 25%;
    height: 80%;
    box-shadow: 5px 5px 10px grey;
}

.viewportLog{
    float: right;
    height: 100%;
    width: 50%;
    text-align: center;
}

.viewportLog input{
    margin: 8px;
    height: 4vh;
    width: 15vw;
    border: none;
    border-bottom: 3px solid #adadad;
}

.viewportLog img{
    padding-top: 80px;
    padding-bottom: 20px;
}

input:focus {
    outline:none;
}

.error {
    display: none;
    font-size: 85%;
    color: red;
    margin: 10px;
}

.forgetPassword{
    font-size: 12px;
    margin-left: 120px;
    text-decoration: none;
}

.buttonLog {
    border: none;
    background: none;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    padding: 25px;
}

.buttonLog:hover{
    color: #575757;
    cursor: pointer;
}

.buttonLog:active{
    color: #535353;
    text-shadow: #9a9a9a 0.1em 0.1em 0.2em;
}

.buttonLog:focus{
    outline-style: none;
    text-shadow: #9a9a9a 0.1em 0.1em 0.2em;
}

#changeButton button{
    border: none;
    background: none;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 14px;
    text-decoration: overline;
    cursor: pointer;
}

#changeButton button:hover{
    text-shadow: #787878 2px 1px 2px;
}

#changeButton button:focus{
    outline-style: none;
    text-shadow: #787878 2px 1px 2px;
}

/* ================================= Header ================================= */

#navbar{
    width: 100%;
    height: 70px;
    background: #adadad;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.logo{
    margin-left: 50px;
}

.linkNavbar{
    margin-left: 100vh;
}

.linkNavbar *{
    margin: 0 90px;
}

.iconNavbar {
    height: 25px;
    margin: -7px 15px;
}

/* ================================= Footer ================================= */

#navbarFooter{
    display: none;
}

/* ================================= Profile ================================= */

#bodyProfile{
    overflow: hidden;
}

#profilViewport{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
    text-align: center;
}

.profilePresentation{
    width: 20%;
    border: 1px solid black;
    height: 70vh;
}

.profilePresentation p {
    width: 80%;
    margin: 0 auto;
}

.profilePictures{
    width: 65%;
    border: 1px solid black;
    min-height: 70vh;
}


@media (max-width: 480px) {

    /* ================================= Log & Register ================================= */

    .imageHome {
        display: none;
    }

    .viewportLogParent {
        margin: 5% 10%;
        box-shadow: none;
    }

    .viewportLog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .viewportLog input {
        height: 5vh;
        width: 70vw;
    }

    /* ================================= Header ================================= */

    .linkNavbar {
        display: none;
    }

    .logo{
        margin-left: 20px;
    }

    .iconNavbar {
        margin: 0 0;
        display: inline-block;
    }

    /* ================================= Footer ================================= */

    #navbarFooter{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #e8e8e8;
    }

    #navbarFooter img{
        height: 25px;
    }

    /* ================================= Profil ================================= */

    #bodyProfile{
        overflow: auto;
        margin-bottom: 55px;
    }

    #profilViewport{
        display: block;
    }

    .profilePresentation{
        width: 100%;
        height: 25vh;
    }

    .profilePresentation h1{
        font-size: 15px;
        text-align: right;
        margin: 0 30px;
    }

    .profilePresentation p {
        width: 100%;
        margin: 0 auto;
        font-size: 10px;
    }

    .profilePictures{
        width: 100%;
        margin-top: 15px;
    }

}