body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaina 2', cursive;
}

/* ================================= Log & Register ================================= */

.viewportLogParent {
    margin: 5% 25%;
    height: 80%;
    box-shadow: 5px 5px 10px grey;
}

.viewportLog {
    float: right;
    height: 100%;
    width: 50%;
    text-align: center;
}

.viewportLog input {
    margin: 8px;
    height: 4vh;
    width: 15vw;
    border: none;
    border-bottom: 3px solid #adadad;
}

.viewportLog img {
    padding-top: 80px;
    padding-bottom: 20px;
}

input:focus {
    outline: none;
}

.error {
    display: none;
    font-size: 85%;
    color: red;
    margin: 10px;
}

.forgetPassword {
    font-size: 12px;
    margin-left: 120px;
    text-decoration: none;
}

.buttonLog {
    border: none;
    background: none;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    padding: 25px;
}

.buttonLog:hover {
    color: #575757;
    cursor: pointer;
}

.buttonLog:active {
    color: #535353;
    text-shadow: #9a9a9a 0.1em 0.1em 0.2em;
}

.buttonLog:focus {
    outline-style: none;
    text-shadow: #9a9a9a 0.1em 0.1em 0.2em;
}

#changeButton button {
    border: none;
    background: none;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 14px;
    text-decoration: overline;
    cursor: pointer;
}

#changeButton button:hover {
    text-shadow: #787878 2px 1px 2px;
}

#changeButton button:focus {
    outline-style: none;
    text-shadow: #787878 2px 1px 2px;
}

/* ================================= Header ================================= */

#navbar {
    width: 100%;
    height: 70px;
    background: #adadad;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.logo {
    margin-left: 50px;
}

.linkNavbar {
    margin-left: 100vh;
}

.linkNavbar * {
    margin: 0 90px;
}

.iconNavbar {
    height: 25px;
    margin: -7px 15px;
}

/* ================================= Footer ================================= */

#navbarFooter {
    display: none;
}

/* ================================= Profile ================================= */

#bodyProfile {
    overflow: hidden;
}

#profileViewport {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
    text-align: center;
}

.profilePresentation {
    width: 20%;
    border: 1px solid black;
    height: 70vh;
    background: #d0d0d0;
}

.profilePresentation p {
    width: 80%;
    margin: 0 auto;
}

.profilePictures {
    width: 65%;
    border: 1px solid black;
    height: 70vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.imgDiv{
    height: 23.5vh;
    width: 11vw;
    border: 1px solid black;
    margin: 24px;
}

/* ================================= Settings ================================= */

.bodySetting{
    overflow: hidden;
}

.settingViewport {
    display: flex;
    justify-content: center;
}

.settingProfil {
    height: 70vh;
    width: 25%;
}

.settingProfil button {
    margin: 2vh 11vw;
}

.settingOther {
    border: 1px solid black;
    height: 70vh;
    width: 46%;
    margin-left: 2%;
}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 10px;
}

#presentationSetting {
    width: 90%;
    height: 21vh;
    margin: 2vh 5%;
    font-size: 15px;
    border: none;
    color: #454545;
    resize: none;
    cursor: pointer;
}

#presentationSetting:focus {
    font-weight: bolder;
    outline: none;
    color: black;
}

#presentationSetting::selection {
    background-color: #b1b1b1;
}

#websiteSetting{
    width: 90%;
    margin: 2vh 5%;
}

/* ================================= Add Picture ================================= */

#addPictureBody{
    overflow: hidden;
}

h1{
    text-align: center;
}

#addPictureViewport{
    overflow: auto;
    margin: 0 auto;
    border: 1px solid black;
    height: 70vh;
    width: 70vw;
}

#statueAddPicture{
    visibility: hidden;
    background: #b8efb8;
    color: #284b29;
    width: 20%;
    margin: 5px auto;
    border-radius: 15px;
    height: 30px;
    font-style: italic;
    text-align: center;
}

/* ================================= Search Map ================================= */

#bodyMap{
    overflow: hidden;
}

#viewportMap{
    display: flex;
    justify-content: center;
}

#searchMap{
    height: 87vh;
    margin: 10px;
    width: 30vw;
    overflow: auto;
    border: black 2px solid;
}

#map{
    height: 90vh;
    width: 70vw;
}

/* ============================================================================== */
/* ================================= Responsive ================================= */
/* ============================================================================== */

@media (max-width: 480px) {

    /* ================================= Log & Register ================================= */
    .imageHome {
        display: none;
    }

    .viewportLogParent {
        margin: 5% 10%;
        box-shadow: none;
    }

    .viewportLog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .viewportLog input {
        height: 5vh;
        width: 70vw;
    }

    /* ================================= Header ================================= */
    .linkNavbar {
        display: none;
    }

    .logo {
        margin-left: 20px;
    }

    .iconNavbar {
        margin: 0 0;
        display: inline-block;
    }

    /* ================================= Footer ================================= */
    #navbarFooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #e8e8e8;
    }

    #navbarFooter img {
        height: 25px;
    }

    /* ================================= Profile ================================= */
    #bodyProfile {
        overflow: auto;
        margin-bottom: 55px;
    }

    #profileViewport {
        display: block;
    }

    .profilePresentation {
        width: 100%;
        height: 25vh;
    }

    .profilePresentation h1 {
        font-size: 15px;
        text-align: right;
        margin: 0 30px;
    }

    .profilePresentation p {
        width: 100%;
        margin: 0 auto;
        font-size: 10px;
    }

    .profilePictures {
        width: 100%;
        height: auto;
        margin-top: 15px;
        overflow: hidden;
        border: none;
    }

    .imgDiv{
        height: 22.5vh;
        width: 40vw;
        margin: 7px;
    }

    /* ================================= Settings ================================= */

    .bodySetting {
        overflow: auto;
        margin-bottom: 70px;
    }

    h2 {
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
    }

    .settingViewport {
        display: block;
    }

    .settingProfil {
        width: 90%;
        height: 60vh;
        margin: 0 auto;
    }

    #presentationSetting {
        font-size: 3.5vw;
    }

    .settingOther {
        width: 90%;
        height: 60vh;
        margin: 0 auto;
    }

    /* ================================= Search Map ================================= */

    #bodyMap{
        overflow: auto;
    }

    #viewportMap{
        display: flex;
        flex-direction: column-reverse;
    }

    #map{
        height: 65vh;
        width: 100vw;
    }

    #searchMap{
        width: 95vw;
        margin: 5px auto;
    }
}