body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaina 2', cursive;
}

/* ================================= Log & Register ================================= */

.viewportLogParent {
    margin: 5% 25%;
    height: 80vh;
    box-shadow: 5px 5px 10px grey;
}

.viewportLog {
    float: right;
    height: 100%;
    width: 50%;
    text-align: center;
}

.viewportLog input {
    margin: 8px;
    height: 4vh;
    width: 15vw;
    border: none;
    border-bottom: 3px solid #adadad;
}

.viewportLog img {
    padding-top: 80px;
    padding-bottom: 20px;
}

input:focus {
    outline: none;
}

.error {
    display: none;
    font-size: 85%;
    color: red;
    margin: 10px;
}

.forgetPassword {
    font-size: 12px;
    margin-left: 120px;
    text-decoration: none;
}

.buttonLog {
    border: none;
    background: none;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    padding: 25px;
}

.buttonLog:hover {
    color: #575757;
    cursor: pointer;
}

.buttonLog:active {
    color: #535353;
    text-shadow: #9a9a9a 0.1em 0.1em 0.2em;
}

.buttonLog:focus {
    outline-style: none;
    text-shadow: #9a9a9a 0.1em 0.1em 0.2em;
}

#changeButton button {
    border: none;
    background: none;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 14px;
    text-decoration: overline;
    cursor: pointer;
}

#changeButton button:hover {
    text-shadow: #787878 2px 1px 2px;
}

#changeButton button:focus {
    outline-style: none;
    text-shadow: #787878 2px 1px 2px;
}

.imageHome{
    height: 100%;
    width: 49%;
}

/* ================================= Header ================================= */

#navbar {
    width: 100%;
    height: 70px;
    background: #adadad;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.logo {
    margin-left: 50px;
}


.linkNavbar * {
    margin: 0 90px;
}

.iconNavbar {
    height: 25px;
    margin: -7px 15px;
}

#titleAdmin {
    font-size: 20px;
}

/* ================================= Footer ================================= */
/* Uniquement pour le responsive */

#navbarFooter {
    display: none;
}

/* ================================= Profile ================================= */

#bodyProfile {
    overflow: hidden;
}

#profileViewport {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
    text-align: center;
}

.profilePresentation {
    width: 20%;
    border: thin solid black;
    height: 70vh;
    background: #d0d0d0;
}

.profilePresentation p {
    width: 80%;
    margin: 0 auto;
}

.profilePictures {
    width: 65%;
    border: thin solid black;
    height: 70vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.imgDiv {
    height: 23.5vh;
    width: 11vw;
    margin: 23px;
}

.imgDisplay {
    width: 100%;
    height: 100%;
}

/* ================================= Settings ================================= */

.bodySetting {
    overflow: hidden;
}

.settingViewport {
    display: flex;
    justify-content: center;
}

.settingViewport textarea {
    border: thin solid gray;
    padding: 3px;
}

.settingProfil {
    height: 70vh;
    width: 25%;
}

.settingProfil button {
    margin: 2vh 11vw;
}

.settingOther {
    height: 70vh;
    width: 46%;
    margin-left: 2%;
}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 10px;
}

#presentationSetting {
    width: 90%;
    height: 21vh;
    margin: 2vh 5%;
    font-size: 15px;
    color: #454545;
    resize: none;
    cursor: pointer;
}

#presentationSetting:focus {
    font-weight: bolder;
    outline: none;
    color: black;
}

#presentationSetting::selection {
    background-color: #b1b1b1;
}

#websiteSetting {
    width: 90%;
    margin: 2vh 5%;
    height: 30px;
    border-radius: 10px;
    border: thin solid gray;
}

.newEmail {
    width: 50%;
    margin: 5px 0;
}

.settingOther button {
    width: 50px;

}

.settingOther * {
    margin: 0 5vw;
}

.settingOther form * {
    margin: 5px 0;
}

#deleteAccount {
    float: right;
    margin: 20vh 0;
    width: 30%;
    text-align: center;
}

#buttonDelete {
    width: 80%;
    margin: 5px auto;
}


/* ================================= Add Picture ================================= */

#addPictureBody {
    overflow: hidden;
}

h1 {
    text-align: center;
}

#addPictureViewport {
    overflow: auto;
    margin: 0 auto;
    border: thin solid black;
    height: 70vh;
    width: 70vw;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=file] {
    border: thin solid gray;
    padding: 5px;
    width: 20vw;
    margin: 4vh;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#addPictureViewport button {
    margin: 0 auto;
    width: 86px;
    padding: 10px;
    border-radius: 15px;
    border: thin solid #535353;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
}

#addPictureViewport button:hover {
    color: gray;
    border: thin solid #e1e1e1;
}

input[type=number] {
    -moz-appearance: textfield;
}

#latLng {
    margin: 4vh;
}

h4 {
    margin-top: 10px;
}

.titleCat {
    margin: 0 4vh;
    font-size: 25px;
}

.categories {
    margin-left: 2vw;
}

/* ================================= Search Map ================================= */

#bodyMap {
    /*overflow: hidden;*/
}

#viewportMap {
    display: flex;
    justify-content: center;
}

#searchMap {
    height: 78vh;
    margin: 10px;
    width: 30vw;
    overflow: auto;
    border: black 2px solid;
}

#map {
    height: 80vh;
    width: 70vw;
}

#searchButton {
    width: 20%;
    margin: 5vh auto;
}

.searchBar {
    border: thin solid black;
    border-radius: 10px;
    width: 80%;
    height: 5vh;
    margin: 3vh auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar img {
    height: 80%;
    width: auto;
    opacity: 60%;
    margin-left: 1vw;
}

.searchBar input {
    width: 85%;
    height: 80%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#txtHint {
    display: flex;
    flex-wrap: wrap;
}

.divImgSearch {
    text-align: center;
}

/* ================================= Admin ================================= */

#adminBody {
    overflow: hidden;
}

#adminViewport {
    display: flex;
    justify-content: space-around;
    margin: 5vh 0;
}

#acceptPict {
    border: thin solid black;
    height: 80vh;
    width: 50vw;
}

#controle {
    margin: 5vh 0;
    width: 100%;
    height: 315px;
}

#controle p {
    color: green;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 120px;
}

.informationAdmin {
    display: flex;
    justify-content: space-around;
}

.imgDivAdmin {
    width: 250px;
    max-height: 320px;
    display: none;
}

.adminInformationImage {
    width: 35%;
    display: none;
}

#buttonAdmin {
    display: flex;
    justify-content: space-around;
}

#acceptAdminButton {
    padding: 10px;
    background: #76cc76;
    border-radius: 20px;
    border: thin solid green;
    cursor: pointer;
}

#acceptAdminButton:hover {
    background: #cfefcf;
}

#deleteAdminButton {
    padding: 10px;
    background: #f36b6b;
    border-radius: 20px;
    border: thin solid red;
    cursor: pointer;
}

#deleteAdminButton:hover {
    background: #f7b1b1;
}

#buttonMAJAdmin {
    height: 30px;
    background: #c4c4c4;
    text-decoration: none;
    color: black;
    border: thin solid black;
    box-shadow: 2px 2px 2px grey;
    padding: 10px;
    border-radius: 25px;
}

#buttonMAJAdmin:hover {
    background: #e8e8e8;
}

/* ================================= Admin MAJ ================================= */

#ownMAJ, #otherAdmin {
    border: thin solid black;
    height: 80vh;
    width: 45%;
    margin-top: 5vh;
}

#adminMAJviewport {
    display: flex;
    justify-content: space-around;
}

#updatePasswordAdmin, #updateEmailAdmin, #addAdmin, #deleteAdmin {
    display: grid;
    width: 50%;
    margin: 0 auto;
}

#ownMAJ button {
    width: 50px;
    margin: 15px auto;
}

#otherAdmin button {
    width: 80px;
    margin: 15px auto;
}

#ownMAJ a {
    position: absolute;
    left: 60px;
    top: 128px;
    text-decoration: none;
    border: thin solid;
    padding: 5px;
    color: #3F51B5;
}

/* ============================================================================== */
/* ================================= Responsive ================================= */
/* ============================================================================== */

@media (max-width: 480px) {

    /* ================================= Log & Register ================================= */
    .imageHome {
        display: none;
    }

    .viewportLogParent {
        margin: 5% 10%;
        box-shadow: none;
    }

    .viewportLog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .viewportLog input {
        height: 5vh;
        width: 70vw;
    }

    /* ================================= Header ================================= */
    .linkNavbar {
        display: none;
    }

    .logo {
        margin-left: 20px;
    }

    #navbar p {
        font-size: 12px;
    }

    .iconNavbar {
        margin: 0 0;
        display: inline-block;
    }

    /* ================================= Footer ================================= */
    #navbarFooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #e8e8e8;
    }

    #navbarFooter img {
        height: 25px;
    }

    #designFooter {
        display: none;
    }

    /* ================================= Profile ================================= */
    #bodyProfile {
        overflow: auto;
        margin-bottom: 10vh;
    }

    #profileViewport {
        display: block;
    }

    .profilePresentation {
        width: 100%;
        height: 25vh;
    }

    .profilePresentation h1 {
        font-size: 15px;
        text-align: right;
        margin: 0 30px;
    }

    .profilePresentation p {
        width: 100%;
        margin: 0 auto;
        font-size: 3vw;
    }

    .profilePictures {
        width: 100%;
        height: auto;
        margin-top: 15px;
        overflow: hidden;
        border: none;
    }

    .imgDiv {
        height: 22.5vh;
        width: 40vw;
        margin: 7px;
    }

    /* ================================= Settings ================================= */
    .bodySetting {
        overflow: auto;
        margin-bottom: 10vh;
    }

    h2 {
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
    }

    .settingViewport {
        display: block;
    }

    .settingProfil {
        width: 90%;
        height: 60vh;
        margin: 0 auto;
    }

    #presentationSetting {
        font-size: 3.5vw;
    }

    .settingOther {
        width: 90%;
        height: 60vh;
        border: none;
        margin: 0 auto;
    }

    #websiteSetting {
        margin: 0 auto;
    }

    .categories label {
        font-size: 14px;
    }

    .settingViewport button {
        margin: 2vh auto;
        width: 20vw;
    }

    .newEmail {
        margin: 5px auto;
        width: 100%;
    }

    #deleteAccount {
        margin: 10vh auto;
        width: 100%;
    }


    /* ================================= Search Map ================================= */
    #bodyMap {
        overflow: auto;
        margin-bottom: 10vh;
    }

    #viewportMap {
        display: flex;
        flex-direction: column-reverse;
    }

    #map {
        height: 65vh;
        width: 100vw;
    }

    #searchMap {
        height: auto;
        width: 95vw;
        margin: 5px auto;
        border: none;
    }

    .divImgSearch {
        width: 45vw;
    }

    .categories {
        margin-left: 1vw;
    }

    #txtHint {
        justify-content: space-between;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    /* ================================= Add picture ================================= */
    #addPictureBody {
        overflow: auto;
        margin-bottom: 10vh;
    }

    #addPictureViewport {
        border: none;
        width: 95vw;
        margin-bottom: 80px;
        height: 100%;
        overflow: hidden;
    }

    input[type=file] {
        width: 81vw;
        margin: 0 4vh;
    }

    #latLng {
        display: grid;
    }

    .titleCat {
        margin: 0 4vh;
    }

    #addPictureViewport button {
        margin: 4vh auto;
    }

    /* ================================= Admin ================================= */
    #adminBody {
        overflow: auto;
    }

    #adminViewport {
        display: block;
    }

    #acceptPict {
        width: 100%;
        height: 100%;
        border: none;
    }

    #controle {
        margin: 3vh auto;
    }

    #controle p {
        padding: 85px;
    }

    .informationAdmin {
        display: block;
        text-align: center;
    }

    .adminInformationImage {
        margin: 20px auto;
        font-size: 15px;
    }

    #buttonMAJAdmin {
        margin: 20vw;
    }

    .imgDivAdmin {
        max-height: 200px;
        width: auto;
    }

    #buttonAdmin {
        margin-top: 6vh;
    }

    #titleAdmin {
        font-size: 15px;
    }

    /* ================================= Admin MAJ ================================= */
    #ownMAJ, #otherAdmin {
        border: none;
        height: auto;
        width: 100%;
    }

    #adminMAJviewport {
        display: block;
    }

    #ownMAJ a {
        position: initial;
        margin-left: 8vw;
    }

    #updatePasswordAdmin, #updateEmailAdmin, #addAdmin, #deleteAdmin {
        width: 70%;
    }
}

@media (max-height: 550px) {

    .profilePresentation {
        height: 28vh;
    }

    #addPictureBody{
        margin-bottom: -2vh;
    }

}

